
header{
    background: #BBBBBB;
    padding: 20px 0;
}

.boxMenu{
    position: relative;
    margin: 0 auto;
    width: 940px;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.mainClass{
    padding: 50px 0;
}

.boxItemServices{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.itemServices li{
    display: inline-block;
    text-align:center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
}

.itemServices h2{
    font-size: 30px;
    font-weight: bold;
}

.itemServices li:hover{
    border-color:  #c78c19;
}

.itemServices li:hover h2{
    font-size: 34px;
    color: #c78c19;
}

.itemServices li:active{
    border-color:  #088c19;
}

.descService{
    font-size: 18px;
}

.valueService{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    background: url("bg.jpg");
    text-align: center;
    padding: 20px 0;
}

.copyright {
    color: white;
    font-size: 15px;
    margin-top: 20px;
}
