
/*
** Todas as páginas
*/

body{
    font-family: 'Montserrat', sans-serif;
}

.mainClass{
    position: relative;
}

.principal{
    width: 940px;
    margin: 0 auto;
    padding: 2em 0;
    background: #fefefe;
}

/*
** Cabeçalho e Menu
*/

header{
    background: #BBBBBB;
    padding: 20px 0;
}

.boxMenu{
    position: relative;
    margin: 0 auto;
    width: 940px;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

/*
** Página Index
*/

.banner{
    width: 100%;
}

.tituloPrincipal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.imgUtensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.mapa{
    text-align: center;
    padding: 2em 0;
    background: linear-gradient(#fefefe, #888888);
}

.mapa p{
    margin-bottom: 2em;
}

.mapaImagem{
    width: 940px;
    margin: 0 auto;
}

.beneficios{
    padding: 2em 0;
    background: #888888
}

.beneficiosDiv{
    width: 640px;
    margin: 0 auto;
}

.listBeneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5;
}

.itens::before{
    content: "★ ";
}

.imgBeneficios{
    width: 60%;
    box-shadow: 10px 10px 10px 0 #000000;
}

.imgBeneficios:hover{
    opacity: 0.5;
    transition: 400ms;
}

.video{
    width: 560px;
    margin: 2em auto;
}

/*
** Página Produtos
*/

.itemServices li{
    display: inline-block;
    text-align:center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
}

.itemServices h2{
    font-size: 30px;
    font-weight: bold;
}

.itemServices li:hover{
    border-color:  #c78c19;
}

.itemServices li:hover h2{
    font-size: 34px;
    color: #c78c19;
}

.itemServices li:active{
    border-color:  #088c19; 
}

.itemServices li:active h2{
    color:  #088c19; 
}

.descService{
    font-size: 18px;
}

.valueService{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/*
** Página Contato
*/

form{
    padding: 40px 40px;
    border: 2px solid black;
    border-radius: 20px;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.inputPadrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.selectContato{
    margin: 20px 0;
}

.checkContato {
    margin: 20px 0;
}

.btnEnviar{
    width: 20%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: 2s;
    cursor: pointer;
}

.btnEnviar:hover{
    background: #088c19;
    color: white;
    border: none;
    transform: scale(1.2);
}

table{
    margin: 40px 0 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
}

/*
** Rodapé
*/

footer{
    background: url("bg.jpg");
    text-align: center;
    padding: 20px 0;
}

.copyright {
    color: white;
    font-size: 15px;
    margin-top: 20px;
}


/*
** Responsividade
*/

@media screen and (max-width: 480px){
    .boxMenu, .principal, .mapaImagem, .beneficiosDiv, .video{
        width: auto;
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .principal, .mapa, .beneficios{
        padding: 1em 2em 1em 2em;
    }

    .listBeneficios{
        margin-bottom: 1em;
    }

    .listBeneficios, .imgBeneficios{
        width: 100%;
    }
}